
<div class="inMiddle">
  <div class="card" style="width: 24rem;">
  <p>Personal Details</p>
  <hr>
    <div class="container">
      <form #f="ngForm" (ngSubmit)="save(f.value)">
          <div class="form-group">
            <label for="firstName"></label>
            <input required  ngModel name="firstName" id="firstName" type="text" class="form-control" placeholder="First Name" #firstName="ngModel">
            <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">Please enter the FirstName</div>
          </div>
          <div class="form-group">
            <label for="lastName"></label>
            <input required ngModel name="lastName" id="lastName" type="text" class="form-control" placeholder="Last Name" #lastName="ngModel">
            <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">Please enter the LastName</div>
          </div>
          <div class="form-group">
            <label for="phone"></label>
            <input required ngModel name="phone" id="phone" type="text" class="form-control" placeholder="Phone number" #phoneNumber="ngModel">
            <div class="alert alert-danger" *ngIf="phoneNumber.touched && !phoneNumber.valid">Please enter the Phone</div>
          </div>
          <div class="form-group">
              <label for="about"></label>
              <textarea required ngModel name="address" class="form-control" id="about" rows="3" placeholder="Enter your address" #address="ngModel"></textarea>
              <div class="alert alert-danger" *ngIf="address.touched && !address.valid">Please enter the Address</div>
            </div>
            <div class="btn-container">
          <button class="btn btn-primary" (click)="goSocial()">Previous</button>
          <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
        </div>
        </form>
      </div>
   
  </div>
</div>
