@import "~bootstrap/dist/css/bootstrap.css";
body{
    background: 
   black;
    height: 100%;
}
.inMiddle{      
    width: 100%;   
}
.card{
    text-align: center;
    background-color:white;
    margin: 25px auto;
    border-radius: 10px;
}
.btn-container{
    padding: 23px;
    align-content: center;
}
p{
    font-weight: 500;
    padding: 15px;
}
hr{
    width: 100%;
    margin: 0;
}
h2{
    color: white;
    text-align: center;

}
